<footer class="footer">
Clock+ <p>
s3781183@student.rmit.edu.au,
Pass Level

<nav><ul>
Share Social <p>

<%= link_to "https://twitter.com/explore" do  %>
   <%= '<i class="fa fa-twitter  fa-2x" aria-hidden="true"></i>'.html_safe %>
 <% end %>


<%= link_to "https://www.facebook.com/" do  %>
   <%= '<i class="fa fa-facebook-square  fa-2x" aria-hidden="true"></i>'.html_safe %>
 <% end %>

<%= link_to "https://www.linkedin.com/home" do  %>
   <%= '<i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>'.html_safe %>
 <% end %>
</ul></nav></footer>